body {
    background-color: #2e2e2e;
    font-family: Gwent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#app-nav {
    width:100%;
    height:100px;
    background-color: #43636b;
    color:#fff;
}
#canvas {
    background-image: url(https://gwent.one/image/transparency.png);
}
#app {
    width: 1160px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 555px 800px;

}
#Deck {
    background-color: #5c3030;
    width: 100%;
    padding: 5px;
}
#Deck .head {
    width: 100%;
    display:grid;
    grid-template-areas: "ability name name name"
                         "ability size units provision";
}

#DeckName,
#DeckAbility,
#DeckProvision,
#DeckSize,
#DeckUnits {
    font-size:4em;
    color:white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}

#DeckUnits img,
#DeckProvision img,
#DeckSize img {
    height:50px;
}
#DeckName {
    grid-area:name;
    font-size:2em;
}
#DeckUnits {
    grid-area:units;
}
#DeckAbility {
    grid-area:ability;
}
#DeckAbility img {
    height:110px;
}
#DeckProvision {
    grid-area:provision;
    font-size:4em;
    color:white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
#DeckSize {
    grid-area:size;
    font-size:4em;
    color:white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#DeckBuilder {
    background-color: #350c0c;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}
.DeckBuilderLeader img, .DeckBuilderStratagem img, .DeckBuilderCard img {
    width:110px;
}

.DeckCard {
    width:525px;
    height:70px;
    position:relative;
}

.DeckCard .art,
.DeckCard .gradient,
.DeckCard .amount,
.DeckCard .border,
.DeckCard .stratagem,
.DeckCard .provision,
.DeckCard .power {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%; height: 100%;
    top: 0px; left: 0px;
}
.DeckCard .art {
    top: 5px; left: 10px;
}
.DeckCard .name {
    position: absolute;
    left: 150px; bottom: 15px;
    text-align: left; color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;  
    font-family: Gwent;
}
/*
<DeckCard>
    <ART />
    <GRADIENT />
    <BORDER />
    <C-PROV />
    <C-POWER />
    <C-AMOUNT />
    <C-NAME />
</DeckCard>
*/


.DeckCard[data-color='Gold'] .border {
    background-image: url("../img/assets/deck/border/gold.png");
}
.DeckCard[data-color='Bronze'] .border {
    background-image: url("../img/assets/deck/border/bronze.png");
}
.DeckCard[data-type='Stratagem'] .border {
    background-image: url("../img/assets/deck/border/stratagem.png") !important;
}
.DeckCard .gradient {
    background-image: url("../img/assets/deck/other/gradient.png");
}
.DeckCard[data-amount='2'] .amount {
    background-image: url("../img/assets/deck/other/amount-2.png");
}