body {
    background-color: #2e2e2e;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#app-nav {
    width:100%;
    height:100px;
    background-color: #43636b;
    color:#fff;
}
#canvas {
    background-image: url(https://gwent.one/image/transparency.png);
}
#app {
    width: 1160px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 555px 800px;

}
#Deck {
    background-color: #5c3030;
    width: 100%;
    padding: 5px;
}
#Deck .head {
    width: 100%;
    display:grid;
    grid-template-areas: "ability provision"
                         "size units";
}

#DeckName {
    font-size:4em;
    color:white;
}
#DeckUnits {
    grid-area:units;
    font-size:4em;
    color:white;
}
#DeckAbility {
    grid-area:ability;
    font-size:4em;
    color:white;
}
#DeckProvision {
    grid-area:provision;
    font-size:4em;
    color:white;
}
#DeckSize {
    grid-area:size;
    font-size:4em;
    color:white;
}

#DeckBuilder {
    background-color: #350c0c;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}
.DeckBuilderLeader img, .DeckBuilderStratagem img, .DeckBuilderCard img {
    width:110px;
}

.DeckCard {
    width:525px;
    height:70px;
    position:relative;
}

.DeckCard .art,
.DeckCard .gradient,
.DeckCard .amount,
.DeckCard .border,
.DeckCard .stratagem,
.DeckCard .provision,
.DeckCard .power {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%; height: 100%;
    top: 0px; left: 0px;
}
.DeckCard .name {
    position: absolute;
    left: 150px; bottom: 15px;
    text-align: left; color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;  
    font-family: Gwent;
}
/*
<DeckCard>
    <ART />
    <GRADIENT />
    <BORDER />
    <C-PROV />
    <C-POWER />
    <C-AMOUNT />
    <C-NAME />
</DeckCard>
*/


.DeckCard[data-color='Gold'] .border {
    background-image: url("../img/assets/deck/border/gold.png");
}
.DeckCard[data-color='Bronze'] .border {
    background-image: url("../img/assets/deck/border/bronze.png");
}
.DeckCard[data-type='Stratagem'] .border {
    background-image: url("../img/assets/deck/border/stratagem.png") !important;
}
.DeckCard .gradient {
    background-image: url("../img/assets/deck/other/gradient.png");
}
.DeckCard[data-amount='2'] .amount {
    background-image: url("../img/assets/deck/other/amount-2.png");
}

.gdeck.Leader .gdeck__border { background-image: url("../../gwent/img/deck/border-leader.png"); }

 .gdeck__strength {background-position: top left; background-size: 50px; background-repeat: no-repeat;
      height: 50px; width: 50px; position: absolute; font-family:gnum; font-size:4rem; bottom: 30px; left: 20px;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; }
.gdeck__provision { background-position: top left; background-size: 50px; background-repeat: no-repeat; height: 50px; width: 50px; position: absolute;
      font-family:gnum; font-size:4rem; bottom: 30px; left: 60px; color:gold;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
.gdeck__Artifact {
      background-image: url("../image/icons/filter/Artifact.png");
      background-position: top left; background-size: 50px; background-repeat: no-repeat; height: 50px; width: 50px; position: absolute; top: 15px; right: 440px;  }  
.gdeck__Spell {
      background-image: url("../image/icons/filter/Spell.png");
      background-position: top left; background-size: 50px; background-repeat: no-repeat; height: 50px; width: 50px; position: absolute; top: 10px; right: 440px;  }  

.gdeck.Leader .gdeck__name { position: absolute; left: 40px; top: 30px; text-align: left; color: white; 
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      font-size: 2rem; font-weight: 800; line-height: 1.4; }