#nav {

    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 100;

    ul {
        list-style: none;
    }
    ul, li {
        margin: 0;
        padding: 0;
    }

    label  {
      display: block;
      background: #555;
      width: 75px;
      height: 50px;
      position: relative;
      margin-left: auto;
      border-radius: 4px;
    }
    label .line {
        position: absolute;
        height: 4px;
        background: #fff;
        border-radius: 2px;
        width: 55px;
        display: block;
        left: 10px;
        transition: 0.5s;
        transform-origin: center;
        &:nth-child(1) {
            top: 12px;
        }
        &:nth-child(2) {
            top: 24px;
        }
        &:nth-child(3) {
            top: 36px;
        }
    }
    #nav-menu:checked + .hamburger {
        .line {
            &:nth-child(1) {
                transform: translateY(12px) rotate(-45deg);
            }
            &:nth-child(2) {
                opacity:0;
            }
            &:nth-child(3) {
                transform: translateY(-12px) rotate(45deg);
            }
       }
    }

    #nav-menu:checked + .hamburger  + nav.topmenu { 
        max-height: 600px; 
    }
    nav.topmenu { 
        height: auto; 
        max-height:0; 
        overflow: hidden; 
        transition: all 0.5s;
        background-color: #000000;
    }
}