// style.scss

@import "variables";
@import "mixin";
@import "fonts";
@import "nav";
@import "api";
@import "card/assets";
@import "card/values";

.keyword {
    color: #600101;
    font-weight: 800;
}
body,html {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color:inherit;
}
.filters {
    display:flex;
    flex-wrap:wrap;
}
.filter {
    display:grid;
    grid-template-rows: auto auto;
    padding:10px 20px 0px 10px;
}
.power .filter-option, .provision .filter-option {
    font-family: GWENT;
}

.filter-option {
    display:flex;
    flex-wrap:wrap;
    
    div {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    img {
        width: 20px;
    }
    }
}

body {
    font-family: 'Muli', sans-serif;
    color: #d9d8cb;
    background-color: #18191d;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#app-nav {
    width:100%;
    height:300px;
    background-color: #43636b;
    color:#fff;
}
#canvas {
    background-image: url(https://gwent.one/image/transparency.png);
}
#app {
    margin: 0 auto;
    display:grid;
    grid-template-columns: 330px auto 360px;
    grid-template-rows: minmax(250px, 1fr);
    height:100vh;
}
#Deck {
    display:grid;
    align-content: start;
    justify-content: center;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transform: scale(0.6) translate(-0%, -33%);
}

::-webkit-scrollbar {
    display: none;
  }
  
#Deck .head {
    width: 100%;
    display:grid;
    grid-template-columns: 150px 115px 115px 130px;
    grid-template-areas: "ability name name name"
                         "ability size units provision";
}

#DeckName,
#DeckAbility,
#DeckProvision,
#DeckSize,
#DeckUnits {
    font-size:2em;
    color:white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#DeckUnits img,
#DeckProvision img,
#DeckSize img {
    height:60px;
}
#DeckUnits span,
#DeckProvision span,
#DeckSize span {
    margin-left:.2em;
}
#DeckName {
    font-family: GWENT;
    grid-area: name;
    font-size:3em;
}
#DeckUnits {
    grid-area:units;
}
#DeckAbility {
    grid-area:ability;
    height:150px;
    width:150px;
}
#DeckAbility img {
    height:150px;
}
#DeckProvision {
    grid-area:provision;
}
#DeckSize {
    grid-area:size;
}

#DeckBuilder {
    background-color: #350c0c;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 150px);
    grid-auto-rows: 215px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    grid-gap: 20px;
}
.DeckBuilderLeader img, .DeckBuilderStratagem img, .DeckBuilderCard img {
    width:110px;
}

.DeckCard {
    width:525px;
    height:70px;
    position:relative;
}

.DeckCard .art,
.DeckCard .gradient,
.DeckCard .amount,
.DeckCard .border,
.DeckCard .stratagem,
.DeckCard .provision,
.DeckCard .power {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%; height: 100%;
    top: 0px; left: 0px;
}
.DeckCard .art {
    top: 5px; left: 10px;
}
.DeckCard .name {
    position: absolute;
    left: 150px; bottom: 15px;
    text-align: left; color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;  
    font-family: Gwent;
}

.DeckCard[data-color='gold'] .border {
    background-image: url("../img/assets/deck/border/gold.png");
}
.DeckCard[data-color='bronze'] .border {
    background-image: url("../img/assets/deck/border/bronze.png");
}
.DeckCard[data-type='stratagem'] .border {
    background-image: url("../img/assets/deck/border/stratagem.png") !important;
}
.DeckCard .gradient {
    background-image: url("../img/assets/deck/other/gradient.png");
}
.DeckCard[data-amount='2'] .amount {
    background-image: url("../img/assets/deck/other/amount-2.png");
}

#CardInformation {
    justify-content: center;
    align-content: center;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
