// style.scss

@import "variables";
@import "mixin";
@import "fonts";
@import "nav";
@import "filters";
@import "deck";
@import "api";
@import "card/assets";
@import "card/values";


html,body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Muli', sans-serif;
    color: #d9d8cb;
    background-color: #18191d;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration:none;
    color:inherit;
}
.keyword {
    color: #600101;
    font-weight: 800;
}
#app-nav {
    width:100%;
    background-color: #000;
    color:#fff;
}
#app {
    margin: 0 auto;
    display:grid;
    grid-template-columns: 380px auto 259px;
    grid-template-rows: minmax(250px, 1fr);
    height:100vh;
}

#DeckBuilder {
    background-color: #350c0c;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.DeckBuilderLeader img, .DeckBuilderStratagem img, .DeckBuilderCard img {
    width:110px;
}

.decklist.card-render {
    display:grid;
    grid-template-columns: auto;
    grid-template-areas: "image";
    align-items: center;
    justify-items: center;
    margin: 4px;
    .image {
        grid-area: image;
    }
}

#CardInformation {
    justify-content: center;
    align-content: center;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
