body {
    background-color: #2e2e2e;
}
#app {
    width: 1160px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 360px 800px;

}
#Deck {
    background-color: #5c3030;
    width: 100%;
    padding: 5px;
}
#DeckBuilder {
    background-color: #350c0c;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}
.DeckCard ,.DeckCard img {
    width:350px;
}
.DeckBuilderLeader img, .DeckBuilderStratagem img, .DeckBuilderCard img {
    width:110px;
}
#DeckSize, #DeckProvision {
    font-size:2em;
    color:white;
}

.DeckCard[data-amount='2'] {
    content: 'x2';
}